services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    # Порт 8000 открыт ТОЛЬКО внутри сети Docker для Nginx
    expose:
      - "8000"
    environment:
      - MODE=PROD

  gateway:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secure_password_here # Поменяй на свой!
      - POSTGRES_DB=library_prod
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: